.latex-tool {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  background: #f1f1f1;
  .formula-type {
    position: relative;
    margin-left: 40px;
    margin-bottom: 20px;
    padding: 14px 0;
    text-align: center;
    img {
      height: 24px;
    }
  }
  .formula-item-list {
    position: absolute;
    left: 0;
    display: none;
    padding: 8px 0px;
    background: #fff;
    color: #840994;
  }
  .formula-type:hover {
    .formula-item-list {
      display: block !important;
    }
  }
  .formula-item {
    min-width: 80px;
    cursor: pointer;
    display: flex;
    align-items: center;

    height: 42px;
    padding: 0 16px;
    &:hover {
      background: #3815ac4a;
    }
    img {
      height: 20px;
    }
    .formula-name {
      margin-left: 8px;
      white-space: nowrap;
    }
  }
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */

  -webkit-user-select: none; /* Chrome/Safari/Opera */

  -khtml-user-select: none; /* Konqueror */

  -moz-user-select: none; /* Firefox */

  -ms-user-select: none; /* Internet Explorer/Edge */

  user-select: none; /* Non-prefixed version, currently

not supported by any browser */
}
